version: '3'

services:
  db:
    image: postgres:11.2
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUNDLE_INSTALL_EXCLUDE='development'
    depends_on:
      - db
    labels:
      - PROJECT=amber-api
      - CI=true
    environment:
      - RAILS_ENV=test
      - POSTGRES_USER=postgres
      - POSTGRES_HOST=db
      - RAILS_MASTER_KEY

  app-production:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - RAILS_MASTER_KEY
