---
http_interactions:
- request:
    method: get
    uri: https://se.api.mailgun.net/v3/domains/csvalpha.nl/messages/eyJwIjpmYWxzZSwiayI6IjZjZmYzYzM1LTdkMDctNGYyMC1iYzczLTI2NjU5MGE1OGZiYiIsInMiOiI5N2MxYmJjMjU5IiwiYyI6InRhbmtiIn0=
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic MAILGUN_BASIC_AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"Received": "by emkei.cz (Postfix, from userid 33)\tid 80B0ED590A;
        Sat, 10 Mar 2018 11:25:22 +0100 (CET)", "stripped-signature": "", "From":
        "\"Sender\" <from@csvalpha.nl>", "X-Mailgun-Spf": "Neutral", "recipients":
        "spec@csvalpha.nl", "attachments": [{"url": "https://se.api.mailgun.net/v3/domains/csvalpha.nl/messages/eyJwIjpmYWxzZSwiayI6IjZjZmYzYzM1LTdkMDctNGYyMC1iYzczLTI2NjU5MGE1OGZiYiIsInMiOiI5N2MxYmJjMjU5IiwiYyI6InRhbmtiIn0=/attachments/0",
        "content-type": "image/png", "name": "ruby.png", "size": 7481}], "To": "spec@csvalpha.nl",
        "X-Envelope-From": "<from@csvalpha.nl>", "stripped-html": "<p>This is the
        body</p>", "stripped-text": "This is the body", "content-id-map": {}, "Reply-To":
        "from@csvalpha.nl", "subject": "This is the subject", "X-Mailgun-Sscore":
        "1.0", "X-Mailgun-Sflag": "No", "from": "\"Sender\" <from@csvalpha.nl>", "sender":
        "from@csvalpha.nl", "Subject": "This is the subject", "X-Priority": "3 (Normal)",
        "Importance": "Normal", "X-Mailgun-Incoming": "Yes", "Errors-To": "from@csvalpha.nl",
        "message-headers": [["X-Mailgun-Spam-Rules", "SPF_HELO_PASS,SPF_SOFTFAIL"],
        ["X-Mailgun-Spf", "Neutral"], ["X-Mailgun-Sscore", "1.0"], ["X-Mailgun-Sflag",
        "No"], ["X-Mailgun-Incoming", "Yes"], ["X-Envelope-From", "<from@csvalpha.nl>"],
        ["Received", "from emkei.cz (emkei.cz [46.167.245.205]) by mxa.mailgun.org
        with ESMTP id 5aa3b297.7f69b101c900-smtp-in-n01; Sat, 10 Mar 2018 10:25:27
        -0000 (UTC)"], ["Received", "by emkei.cz (Postfix, from userid 33)\tid 80B0ED590A;
        Sat, 10 Mar 2018 11:25:22 +0100 (CET)"], ["To", "spec@csvalpha.nl"], ["Subject",
        "This is the subject"], ["From", "\"Sender\" <from@csvalpha.nl>"], ["X-Priority",
        "3 (Normal)"], ["Importance", "Normal"], ["Errors-To", "from@csvalpha.nl"],
        ["Reply-To", "from@csvalpha.nl"], ["Mime-Version", "1.0"], ["Content-Type",
        "multipart/mixed; boundary=\"BOUND_5AA3B28E27B1A9.46766035\""], ["Message-Id",
        "<20180310102523.80B0ED590A@emkei.cz>"], ["Date", "Sat, 10 Mar 2018 11:25:19
        +0100 (CET)"]], "Date": "Sat, 10 Mar 2018 11:25:19 +0100 (CET)", "Message-Id":
        "<20180310102523.80B0ED590A@emkei.cz>", "Content-Type": "multipart/mixed;
        boundary=\"BOUND_5AA3B28E27B1A9.46766035\"", "body-plain": "This is the body",
        "X-Mailgun-Spam-Rules": "SPF_HELO_PASS,SPF_SOFTFAIL", "Mime-Version": "1.0"}'
  recorded_at: Sat, 10 Mar 2018 10:26:02 GMT
recorded_with: VCR 4.0.0
