---
http_interactions:
- request:
    method: get
    uri: http://feed.dagelijkswoord.nl/api/json/1.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aWN0QGNzdmFscGhhLm5sOjdjNTRlMzI0NzQ1M2FiYTBiYWFkMDllMDIxYWZjMTNhYWMwYjhiN2M=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"translations":{"nbv":"Nieuwe Bijbelvertaling","nbg":"NBG51","statenvertaling":"Statenvertaling","willibrord":"Willibrord","hsv":"Herziene
        Statenvertaling","naardense":"Naardense Bijbel","bgt":"Bijbel in Gewone Taal"},"copyrights":{"willibrord":"De
        bijbeltekst in deze uitgave is ontleend aan de Willibrordvertaling (herziene
        editie), (C) Katholieke Bijbelstichting 1995.","statenvertaling":"De bijbeltekst
        in deze uitgave is ontleend aan de Statenvertaling 1977, (C) Nederlands Bijbelgenootschap
        1977.","nbv":"De bijbeltekst in deze uitgave is ontleend aan De Nieuwe Bijbelvertaling,
        (C) Nederlands Bijbelgenootschap 2004\/2007.","nbg":"De bijbeltekst in deze
        uitgave is ontleend aan de NBG-vertaling 1951, (C) Nederlands Bijbelgenootschap
        1951","naardense":"De bijbeltekst in deze uitgave is ontleend aan de Naardense
        Bijbel, (C) Uitgeverij Skandalon","hsv":"De bijbeltekst in deze uitgave is
        ontleend aan de Bijbel in de Herziene Statenvertaling, (C) Stichting HSV 2010.
        Alle rechten voorbehouden, (C) Stichting HSV en Uitgeverij Jongbloed - Heerenveen.","bgt":"Deze
        bijbeltekst komt uit de Bijbel in Gewone Taal, (C) Nederlands Bijbelgenootschap
        2014."},"data":[{"ts":"2019-02-18","source":"Jeremia 29:11-14a","fulltext":"http:\/\/bijbel.dagelijkswoord.nl\/bijbel\/Jeremia+29%3A11-14a?from=json","wpId":"5920","text":{"nbv":"Mijn
        plan met jullie staat vast - spreekt de HEER. Ik heb jullie geluk voor ogen,
        niet jullie ongeluk: ik zal je een hoopvolle toekomst geven. Jullie zullen
        mij aanroepen en tot mij bidden, en ik zal naar jullie luisteren. Jullie zullen
        mij zoeken en ook vinden, als jullie mij tenminste met hart en ziel zoeken.
        Ik zal me door jullie laten vinden - spreekt de HEER - en ik zal in je lot
        een keer brengen. Ik zal jullie samenbrengen uit alle vo[...]
