---
http_interactions:
- request:
    method: get
    uri: http://feed.dagelijkswoord.nl/api/json/1.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_readme":{"how_to_use":"Please visit https:\/\/www.dagelijkswoord.nl\/verspreiden\/json-feed","donatie":"Deze
        informatie wordt u gratis aangeboden door Stichting Dagelijks Woord. Wilt
        u een bijdrage leveren om het doorontwikkelen van deze app en andere bijbel-diensten
        mogelijk te maken, dan kan dat via http:\/\/www.dagelijkswoord.nl\/over\/donatie","use
        in an app":"Als u onze content gebruikt in uw app, gaat dat ten koste van
        het aantal gebruikers wat onze eigen app gebruikt. Dat is prima, het belangrijkste
        is dat mensen Gods Woord lezen. Maar bij minder gebruikers van de app missen
        we wel de inkomsten die we hard nodig hebben om onze eigen Bijbel-diensten
        door te ontwikkelen. Daarom vragen we u vriendelijk op de eerste niet-zondag
        tussen kerst en de jaarwisseling de tekst uit in_app_use.app_text aan gebruikers
        te tonen en hierbij de link uit in_app_use.app_link te gebruiken. Dit is niet
        verplicht, maar wordt wel zeer op prijs gesteld.","link":"If you''re using
        the data from this feed, please be so kind to link to our website.","let op
        - nbg21":"De vertaling nbg21 is een typefout en zal per 31 december 2023 uit
        de API verdwijnen. Gebruik nbv21 in plaats daarvan."},"in_app_use":{"app_text":"Deze
        app maakt gebruik van de Bijbelteksten van Stichting Dagelijks Woord. Steunt
        u de doorontwikkeling van Dagelijks Woord met een bijdrage?","app_link":"https:\/\/www.dagelijkswoord.nl\/inbound-link\/donate\/?query_from=%YOURAPPNAME%"},"translations":{"nbv":"Nieuwe
        Bijbelvertaling","nbg":"NBG51","statenvertaling":"Statenvertaling","willibrord":"Willibrord","hsv":"Herziene
        Statenvertaling","naardense":"Naardense Bijbel","bgt":"Bijbel in Gewone Taal","nbv21":"NBV21","bb":"BasisBijbel","nbg21":"NBV21"},"copyrights":{"willibrord":"De
        bijbeltekst in deze uitgave is ontleend aan de Willibrordvertaling (herziene
        editie), (C) Katholieke Bijbelstichting 1995.","statenvertaling":"De bijbeltekst
        in deze uitgave is ontleend aan de Statenvertaling 1977, (C) Nederlands Bijbelgenootschap
        1977.","nbv":"De bijbeltekst in deze uitgave is ontleend aan De Nieuwe Bijbelvertaling,
        (C) Nederlands Bijbelgenootschap 2004\/2007.","nbg":"De bijbeltekst in deze
        uitgave is ontleend aan de NBG-vertaling 1951, (C) Nederlands Bijbelgenootschap
        1951","naardense":"De bijbeltekst in deze uitgave is ontleend aan de Naardense
        Bijbel, (C) Uitgeverij Skandalon","hsv":"De bijbeltekst in deze uitgave is
        ontleend aan de Bijbel in de Herziene Statenvertaling, (C) Stichting HSV 2010.
        Alle rechten voorbehouden, (C) Stichting HSV en Uitgeverij Jongbloed - Heerenveen.","bgt":"Deze
        bijbeltekst komt uit de Bijbel in Gewone Taal, (C) Nederlands Bijbelgenootschap
        2014.","nbv21":"De bijbeltekst in deze uitgave is ontleend aan de NBV21 (C)
        Nederlands-Vlaams Bijbelgenootschap 2021","bb":"Het copyright berust bij stichting
        BasisBijbel. Alle rechten voorbehouden.","nbg21":"De bijbeltekst in deze uitgave
        is ontleend aan de NBV21 (C) Nederlands-Vlaams Bijbelgenootschap 2021"},"data":[{"ts":"2023-10-14","source":"Jakobus
        2:12","fulltext":"https:\/\/bijbel.dagelijkswoord.nl\/bijbel\/Jakobus+2%3A12?from=json","wpId":"7928","text":{"nbv":"Zorg
        ervoor dat uw spreken en uw handelen de toets kunnen doorstaan van de wet
        die vrijheid brengt.","nbg":"Spreekt z\u00f3 en handelt z\u00f3 als (mensen
        past), die door de wet der vrijheid zullen geoordeeld worden.","nbv21":"Zorg
        ervoor dat uw spreken en uw handelen de toets kunnen doorstaan van de wet,
        die vrijheid brengt.","bb":"Spreek en doe dan z\u00f3, als hoort bij mensen
        die door de ''wet van de vrijheid'' (dat is Jezus Christus) g[...]
